
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a href="#" class="logo">
            </a>
            <ul class="nav">
              <li class="scroll-to-section"><a href="/">Beranda</a></li>
              <li class="scroll-to-section"><a href="/pindai">Pembelajaran</a></li>
              <li class="scroll-to-section"><a href="/listdosen">Histori</a></li>
              <li class="scroll-to-section"><a href="/logout">Logout</a></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>